@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    transition: .3s ease all;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -ms-transition: .3s ease all;
    -o-transition: .3s ease all;
}

img:hover {
    scale: 102%;
    cursor: pointer;
}

.loading {
    width:100px;
    height:48px;
    background: 
      radial-gradient(circle closest-side,#3F72AF 90%,#0000) 0%   50%,
      radial-gradient(circle closest-side,#3F72AF 90%,#0000) 50%  50%,
      radial-gradient(circle closest-side,#3F72AF 90%,#0000) 100% 50%;
    background-size:calc(100%/3) 12px;
    background-repeat: no-repeat;
    animation:d3 1s infinite linear;
  }
  @keyframes d3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }
